* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px dotted blue; */
}

.container {
    width: 980px;
    min-height: 900px;
    margin: 0px auto;
}

h1 {
    padding: 10px 0px;
    text-align: center;
}

#img {
    padding: 20px;
}

img {
    display: block;
    margin: 0px auto;
    padding: 5px;
    width: 300px;
}